In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from unicodedata import normalize
import string
import time
import datetime
import sqlalchemy
from sqlalchemy import create_engine
import sqlite3

https://pynative.com/python-sqlite-insert-into-table/
https://pynative.com/python-sqlite/

## Functions

In [39]:
def get_pstats(year):


    url = 'https://www.hockey-reference.com/leagues/NHL_'+year+'_skaters.html'
    dfsi = pd.read_html(url)
    dfi = dfsi[0]
    dfi = dfi.loc[dfi['Unnamed: 0_level_0']['Rk'] != 'Rk']
    dfi.columns = dfi.columns.droplevel()
    #scraping initial dataframe from hockey-reference.com

    resp = requests.get(url)
    soup = BeautifulSoup(resp.text, 'html.parser')
    slinks = soup.select("th+ .left a")
    surl = [s['href'] for s in slinks]
    #getting list of playerids from links

    pid = [surl[i].split('/')[3].split('.')[0] for i in range(len(surl))]  #adding playerid column
    dfi['pid'] = pid
    dfi = dfi.loc[dfi['Tm'] != 'TOT']  #dropping total rows
    dfi['Year'] = '2019-2020'          #adding year column

    dfi['Player'] = dfi['Player'].str.rstrip('*') #removing * symbol from hall of fame players' names
    dfi['YR_INT'] = dfi['Year'].str[-4:]          #adding col for year as integer
#     dfi['YR_INT'] = dfi['YR_INT'].astype(int)
    dfi = dfi.drop(columns = ['Rk'])
    dfi = dfi.drop(columns = ['ATOI'])            #drop average time on ice column for sql
    dfi.columns = ['Player', 'Age', 'Tm', 'Pos', 'GP', 'G', 'A', 'PTS', '+/-', 'PIM', 'PS', 'EVG', 'PPG', 'SHG', 'GWG', 
     'EVA', 'PPA', 'SHA', 'S', 'S%', 'TOI', 'BLK', 'HIT', 'FOW', 'FOL', 'FO%', 'pid', 'Year', 'YR_INT']  #changing column names -more descriptive
    
    
    
    url_string = 'backup/csv/'+str(year)+'pstats_'+datetime.datetime.strftime(datetime.datetime.now(), '%Y-%m-%d')+'.csv'
    dfi.to_csv(url_string, index = False)
    
    print('Updated Season Stats:')
    print(dfi.head())
    print(dfi.shape)
    print(f'writing to {url_string}')
    print('\n')
    return dfi

dfi = get_pstats('2020')
dfi

Updated Season Stats:
              Player Age   Tm Pos  GP   G  A PTS  +/- PIM  ...    S%   TOI  \
0  Justin Abdelkader  32  DET  LW  49   0  3   3  -14  25  ...   0.0   565
1       Pontus Aberg  26  TOR  LW   5   0  1   1    0   0  ...   0.0    44
2     Vitaly Abramov  21  OTT  RW   2   1  0   1    0   2  ...  33.3    12
3       Noel Acciari  28  FLA   C  66  20  7  27    2  21  ...  18.5  1054
5    Andrew Agozzino  29  PIT  LW  17   0  2   2    0   4  ...   0.0   112

   BLK  HIT  FOW  FOL   FO%        pid       Year YR_INT
0   26  103   38   31  55.1  abdelju01  2019-2020   2020
1    1    1    0    0   NaN  abergpo01  2019-2020   2020
2    0    0    0    0   NaN  abramvi01  2019-2020   2020
3  103  121  381  414  47.9  acciano01  2019-2020   2020
5    5   19   30   29  50.8  agozzan01  2019-2020   2020

[5 rows x 29 columns]
(951, 29)
writing to backup/csv/2020pstats_2021-01-05.csv

<ipython-input-39-5af7cc0c647f>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfi['pid'] = pid

,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,PIM,...,S%,TOI,BLK,HIT,FOW,FOL,FO%,pid,Year,YR_INT
0,Justin Abdelkader,32,DET,LW,49,0,3,3,-14,25,...,0.0,565,26,103,38,31,55.1,abdelju01,2019-2020,2020
1,Pontus Aberg,26,TOR,LW,5,0,1,1,0,0,...,0.0,44,1,1,0,0,NaN,abergpo01,2019-2020,2020
2,Vitaly Abramov,21,OTT,RW,2,1,0,1,0,2,...,33.3,12,0,0,0,0,NaN,abramvi01,2019-2020,2020
3,Noel Acciari,28,FLA,C,66,20,7,27,2,21,...,18.5,1054,103,121,381,414,47.9,acciano01,2019-2020,2020
5,Andrew Agozzino,29,PIT,LW,17,0,2,2,0,4,...,0.0,112,5,19,30,29,50.8,agozzan01,2019-2020,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,Mika Zibanejad,26,NYR,C,57,41,34,75,9,14,...,19.7,1233,49,51,592,612,49.2,zibanmi01,2019-2020,2020
1055,Mats Zuccarello,32,MIN,LW,65,15,22,37,-9,18,...,15.6,1036,36,13,9,5,64.3,zuccama01,2019-2020,2020
1057,Jason Zucker,28,MIN,LW,45,14,15,29,-3,19,...,18.7,715,20,35,12,28,30.0,zuckeja01,2019-2020,2020
1058,Jason Zucker,28,PIT,LW,15,6,6,12,-1,2,...,16.7,265,3,18,0,1,0.0,zuckeja01,2019-2020,2020
1059,Valentin Zykov,24,VEG,LW,15,1,3,4,-2,6,...,5.3,183,3,20,0,1,0.0,zykovva01,2019-2020,2020

In [45]:
strang = "?, "* 29
strang

'?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, '

In [49]:
def pstats_to_sql(dataframe):
    

    
    def deleteMultipleRecords(year):
        try:
            sqliteConnection = sqlite3.connect('hockey.db')
            cursor = sqliteConnection.cursor()
            print("Connected to SQLite")

            # Deleting single record now
            sql_delete_query = f'DELETE from Player_Stats_Reg3 where YR_INT = {year}'
            cursor.execute(sql_delete_query)
            sqliteConnection.commit()
            print("Record deleted successfully ")
            cursor.close()

        except sqlite3.Error as error:
            print("Failed to delete record from sqlite table", error)
        finally:
            if (sqliteConnection):
                sqliteConnection.close()
                print("the sqlite connection is closed \n")
                
    def insertMultipleRecords(recordList):
        try:
            sqliteConnection = sqlite3.connect('hockey.db')
            cursor = sqliteConnection.cursor()
            print("Connected to SQLite")

            sqlite_insert_query = """INSERT INTO Player_Stats_Reg3
                              (Player, Age, Tm, Pos, GP, G, A, PTS, "+/-", PIM, PS,
       EVG, PPG, SHG, GWG, EVA, PPA, SHA, S, "S%", TOI,
       BLK, HIT, FOW, FOL, "FO%", pid, Year, YR_INT) 
                              VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"""

            cursor.executemany(sqlite_insert_query, recordList)
            sqliteConnection.commit()
            print("Total", cursor.rowcount, "Records inserted successfully into Player_List table")
            sqliteConnection.commit()
            cursor.close()

        except sqlite3.Error as error:
            print("Failed to insert multiple records into sqlite table", error)
        finally:
            if (sqliteConnection):
                sqliteConnection.close()
                print("The SQLite connection is closed \n")
                
                
    ii = [tuple(dataframe.iloc[i].values) for i in range(len(dataframe['pid']))]
    yr = str(dataframe['YR_INT'][0])
            
    deleteMultipleRecords(yr)
    insertMultipleRecords(ii)
    
pstats_to_sql(dfi)

Connected to SQLite
Record deleted successfully
the sqlite connection is closed

Connected to SQLite
Total 951 Records inserted successfully into Player_List table
The SQLite connection is closed

In [3]:
year = '2020'
url = 'https://www.hockey-reference.com/leagues/NHL_'+year+'_skaters.html'
url

'https://www.hockey-reference.com/leagues/NHL_2020_skaters.html'

In [31]:
def get_plist(dataframe):
    engine = create_engine('sqlite:///hockey.db')
    
    pl_b42020 = pd.read_sql("""
    SELECT pid 
    FROM Player_List1
    WHERE YOB < 2000     

    """, engine)
    
    players_sql = set(pl_b42020['pid'])
    players_scraped = set(dataframe['pid'])

    to_get_list = list(players_scraped.difference(players_sql))
    
    pid = []
    names = []
    heights = []
    weights = []
    birth_dates = []
    birth_years = []
    cities = []
    states = []
    country_codes = []

    purls = ['https://www.hockey-reference.com/players/'+s[0]+'/'+s+'.html' for s in to_get_list]
    


    for i in range(len(purls)):
        resp2= requests.get(purls[i])
        soup2 = BeautifulSoup(resp2.text, 'html.parser')
        slinks2 = soup2.select("#meta p")


        pl_id = to_get_list[i]
        pl_nm = soup2.select('span')[8].text
        pl_inf = [slinks2[y].text for y in range(len(slinks2))]


        if 'Left' in pl_inf[0]:
            shoots = 'Left'
        elif 'Right' in pl_inf[0]:
            shoots = 'Right'
        else:
            shoots = ''

        if 'cm' in pl_inf[1]:
            height = pl_inf[1].split(',')[0]
        else:
            height = ''
        if 'lb' in pl_inf[1]:
            if len(pl_inf[1].split(',')) == 1:
                weight = pl_inf[1][0:3]
            else:
                weight = pl_inf[1].split(',')[1][1:4]
        else:
            weight = ''

        if 'Born' in pl_inf[1]:
            bd = pl_inf[1].split('Born: ')[1].split(',')[0]
            byr = pl_inf[1].split('Born: ')[1].split(',')[1][1:5]
        elif len(pl_inf) > 2:
            if 'Born' in pl_inf[2]:
                bd = pl_inf[2].split('Born: ')[1].split(',')[0]
                byr = pl_inf[2].split('Born: ')[1].split(',')[1][1:5]
        else:
            bd = ''
            byr = ''


        if ' in' in pl_inf[1]:
            locat = pl_inf[1].split(' in')[1]
            locat_norm = normalize('NFKD', locat).strip()
            if len(locat_norm.split(',')) == 1:
                country_code = locat_norm.split('  ')[1].strip()
                city = locat_norm.split(',')[0]
                state = ''
            else:
                state = locat_norm.split(',')[1].strip().split('  ')[0]
                country_code = locat_norm.split(',')[1].strip().split('  ')[-1]
                city = locat_norm.split(',')[0]

        if len(pl_inf) > 2:
            if ' in' in pl_inf[2]:
                locat = pl_inf[2].split(' in')[1]
                locat_norm = normalize('NFKD', locat).strip()
                if len(locat_norm.split(',')) == 1:
                    country_code = locat_norm.split('  ')[1].strip()
                    city = locat_norm.split(',')[0]
                    state = ''
                else:
                    state = locat_norm.split(',')[1].strip().split('  ')[0]
                    country_code = locat_norm.split(',')[1].strip().split('  ')[-1]
                    city = locat_norm.split(',')[0]
            else: 
                city = ''
                state = ''
                country_code = ''
        else: 
                city = ''
                state = ''
                country_code = ''

#         print(pl_id, pl_nm, height, weight, bd, byr, city, state, country_code)             #printing inside loop for visualization
        pid.append(pl_id)
        names.append(pl_nm)
        heights.append(height)
        weights.append(weight)
        birth_dates.append(bd)
        birth_years.append(byr)
        cities.append(city)
        states.append(state)
        country_codes.append(country_code)
        
    df = pd.DataFrame(list(zip(pid,names, heights,weights, birth_dates,birth_years,cities,states,country_codes)),
              columns = ['pid', 'Player', 'height', 'weight', 'dob', 'yob', 'city', 'state', 'country'])

    inches = []
    lhght = list(df['height'])
    lspl = list(df['height'].str.split('-'))
    for i in range(len(df['height'])):
        if type(lhght[i]) != float:
            try:
                ht = (int(lspl[i][0]) * 12 + int(lspl[i][1]))
            except ValueError:
                ht = ''
        else:
            ht = ''
        inches.append(str(ht))


    dates = []
    ldob = list(df['dob'])
    lyob = list(df['yob'])
    for i in range(len(df['dob'])):
        if (type(ldob[i]) != float):
            try:
                dt = (ldob[i] + ' ' + str(int(lyob[i]))).lstrip()
            except ValueError:
                dt = ''
        else:
            dt = ''
        dates.append(dt)

    dts = []
    for i in range(len(df['dob'])):
        if dates[i] != '':
            dtt = datetime.datetime.strptime(dates[i], '%B %d %Y')
            dttt = datetime.datetime.strftime(dtt, '%Y-%m-%d')
        else:
            dttt = ''
        dts.append(dttt)


    df['height_in'] = inches
    df['born'] = dts
    
    url_string = 'backup/csv/'+str(year)+'plist_'+datetime.datetime.strftime(datetime.datetime.now(), '%Y-%m-%d')+'.csv'
    df.to_csv(url_string, index = False)
    
    print('New to Player List:')
    print(df.head())
    print(df.shape)
    print(f'writing to {url_string}')
    
    return df

df = get_plist(dfi)
df

New to Player List:
         pid              Player height weight        dob   yob  \
0  haytoba01      Barrett Hayton    6-1    192     June 9  2000
1  wahlsol01    Oliver Wahlstrom    6-1    205    June 13  2000
2  kotkaje01  Jesperi Kotkaniemi    6-2    184     July 6  2000
3  bjornto01     Tobias Bjornfot    6-0    187    April 6  2001
4  gustada01    David Gustafsson    6-2    196   April 11  2000

             city    state country height_in        born
0    Peterborough  Ontario      ca        73  2000-06-09
1        Portland    Maine      us        73  2000-06-13
2            Pori  Finland      fi        74  2000-07-06
3  Upplands Vasby   Sweden      se        72  2001-04-06
4        Tingsryd   Sweden      se        74  2000-04-11
(16, 11)
writing to backup/csv/2020plist_2021-01-05.csv

,pid,Player,height,weight,dob,yob,city,state,country,height_in,born
0,haytoba01,Barrett Hayton,6-1,192,June 9,2000,Peterborough,Ontario,ca,73,2000-06-09
1,wahlsol01,Oliver Wahlstrom,6-1,205,June 13,2000,Portland,Maine,us,73,2000-06-13
2,kotkaje01,Jesperi Kotkaniemi,6-2,184,July 6,2000,Pori,Finland,fi,74,2000-07-06
3,bjornto01,Tobias Bjornfot,6-0,187,April 6,2001,Upplands Vasby,Sweden,se,72,2001-04-06
4,gustada01,David Gustafsson,6-2,196,April 11,2000,Tingsryd,Sweden,se,74,2000-04-11
5,farabjo01,Joel Farabee,6-0,164,February 25,2000,Syracuse,New York,us,72,2000-02-25
6,hugheja03,Jack Hughes,5-10,168,May 14,2001,Orlando,Florida,us,70,2001-05-14
7,foudyli01,Liam Foudy,6-0,174,February 4,2000,Toronto,Ontario,ca,72,2000-02-04
8,dachki01,Kirby Dach,6-4,197,January 21,2001,Fort Saskatchewan,Alberta,ca,76,2001-01-21
9,heinovi01,Ville Heinola,6-1,188,March 2,2001,Honkajoki,Finland,fi,73,2001-03-02
10,sandira01,Rasmus Sandin,6-0,184,March 7,2000,Uppsala,Sweden,se,72,2000-03-07
11,svechan01,Andrei Svechnikov,6-2,195,March 26,2000,Barnaul,Russian Federation,ru,74,2000-03-26
12,dobsono01,Noah Dobson,6-3,179,January 7,2000,Summerside,Prince Edward Island,ca,75,2000-01-07
13,dahlira01,Rasmus Dahlin,6-3,186,April 13,2000,Lidkoping,Sweden,se,75,2000-04-13
14,boqviad01,Adam Boqvist,5-11,179,August 15,2000,Falun,Sweden,se,71,2000-08-15
15,kakkoka01,Kaapo Kakko,6-1,181,February 13,2001,Turku,Finland,fi,73,2001-02-13

In [51]:
def pstats_to_sql(dataframe):
    

    
    def deleteMultipleRecords(year):
        try:
            sqliteConnection = sqlite3.connect('hockey.db')
            cursor = sqliteConnection.cursor()
            print("Connected to SQLite")

            # Deleting single record now
            sql_delete_query = f'DELETE from Player_Stats_Reg3 where YR_INT = {year}'
            cursor.execute(sql_delete_query)
            sqliteConnection.commit()
            print("Record deleted successfully ")
            cursor.close()

        except sqlite3.Error as error:
            print("Failed to delete record from sqlite table", error)
        finally:
            if (sqliteConnection):
                sqliteConnection.close()
                print("the sqlite connection is closed \n")
                
    def insertMultipleRecords(recordList):
        try:
            sqliteConnection = sqlite3.connect('hockey.db')
            cursor = sqliteConnection.cursor()
            print("Connected to SQLite")

            sqlite_insert_query = """INSERT INTO Player_Stats_Reg3
                              (Player, Age, Tm, Pos, GP, G, A, PTS, "+/-", PIM, PS,
       EVG, PPG, SHG, GWG, EVA, PPA, SHA, S, "S%", TOI,
       BLK, HIT, FOW, FOL, "FO%", pid, Year, YR_INT) 
                              VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"""

            cursor.executemany(sqlite_insert_query, recordList)
            sqliteConnection.commit()
            print("Total", cursor.rowcount, "Records inserted successfully into Player_List table")
            sqliteConnection.commit()
            cursor.close()

        except sqlite3.Error as error:
            print("Failed to insert multiple records into sqlite table", error)
        finally:
            if (sqliteConnection):
                sqliteConnection.close()
                print("The SQLite connection is closed \n")
                
                
    ii = [tuple(dataframe.iloc[i].values) for i in range(len(dataframe['pid']))]
    yr = str(dataframe['YR_INT'][0])
            
    deleteMultipleRecords(yr)
    insertMultipleRecords(ii)
    
pstats_to_sql(dfi)

Connected to SQLite
Record deleted successfully
the sqlite connection is closed

Connected to SQLite
Total 951 Records inserted successfully into Player_List table
The SQLite connection is closed

In [21]:

def plist_to_sql(dataframe):
    record_list = [tuple(dataframe.iloc[i].values)  for i in range(len(dataframe['born'])) ]
    record_list = [tuple(dataframe.iloc[i].values) for i in range(len(dataframe['pid']))]
    
    try:
        sqliteConnection = sqlite3.connect('hockey.db')
        cursor = sqliteConnection.cursor()
        print("Connected to SQLite")

        sqlite_insert_query = """INSERT INTO Player_List1
                          (pid, Player, height, weight, dob, yob, city, state, country, height_in, born) 
                          VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"""

        cursor.executemany(sqlite_insert_query, record_list)
        sqliteConnection.commit()
        print("Total", cursor.rowcount, "Records inserted successfully into Player_List table")
        sqliteConnection.commit()
        cursor.close()

    except sqlite3.Error as error:
        print("Failed to insert multiple records into sqlite table", error)
    finally:
        if (sqliteConnection):
            sqliteConnection.close()
            print("The SQLite connection is closed")


plist_to_sql(df)

Connected to SQLite
Total 16 Records inserted successfully into Player_List table
The SQLite connection is closed

## Scrap

In [6]:
import sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('sqlite:///hockey.db')

In [8]:
pl_b42020 = pd.read_sql("""
SELECT pid 
FROM Player_List1
WHERE YOB < 2000

""", engine)
pl_b42020

             pid
0      aaltoan01
1      aaltoju01
2      aaltomi01
3      abbeybr01
4      abbotge01
...          ...
10709    zukwa01
10710   zukemi01
10711  zunicru01
10712  zykovva01
10713  zyuzian01

[10714 rows x 1 columns]

In [110]:
players_sql = set(pl_b42020['pid'])
players_scraped = set(dfi['pid'])

to_get_list = list(players_scraped.difference(players_sql))
to_get_list

['boqviad01',
 'foudyli01',
 'wahlsol01',
 'kakkoka01',
 'bjornto01',
 'sandira01',
 'dahlira01',
 'farabjo01',
 'hugheja03',
 'haytoba01',
 'kotkaje01',
 'gustada01',
 'heinovi01',
 'dachki01',
 'svechan01',
 'dobsono01']

In [111]:
pid = []
names = []
heights = []
weights = []
birth_dates = []
birth_years = []
cities = []
states = []
country_codes = []

purls = ['https://www.hockey-reference.com/players/'+s[0]+'/'+s+'.html' for s in to_get_list]
purls

['https://www.hockey-reference.com/players/b/boqviad01.html',
 'https://www.hockey-reference.com/players/f/foudyli01.html',
 'https://www.hockey-reference.com/players/w/wahlsol01.html',
 'https://www.hockey-reference.com/players/k/kakkoka01.html',
 'https://www.hockey-reference.com/players/b/bjornto01.html',
 'https://www.hockey-reference.com/players/s/sandira01.html',
 'https://www.hockey-reference.com/players/d/dahlira01.html',
 'https://www.hockey-reference.com/players/f/farabjo01.html',
 'https://www.hockey-reference.com/players/h/hugheja03.html',
 'https://www.hockey-reference.com/players/h/haytoba01.html',
 'https://www.hockey-reference.com/players/k/kotkaje01.html',
 'https://www.hockey-reference.com/players/g/gustada01.html',
 'https://www.hockey-reference.com/players/h/heinovi01.html',
 'https://www.hockey-reference.com/players/d/dachki01.html',
 'https://www.hockey-reference.com/players/s/svechan01.html',
 'https://www.hockey-reference.com/players/d/dobsono01.html']

In [100]:
for i in range(len(purls)):
    resp2= requests.get(purls[i])
    soup2 = BeautifulSoup(resp2.text, 'html.parser')
    slinks2 = soup2.select("#meta p")


    pl_id = to_get_list[i]
    pl_nm = soup2.select('span')[8].text
    pl_inf = [slinks2[y].text for y in range(len(slinks2))]






    if 'Left' in pl_inf[0]:
        shoots = 'Left'
    elif 'Right' in pl_inf[0]:
        shoots = 'Right'
    else:
        shoots = ''

    if 'cm' in pl_inf[1]:
        height = pl_inf[1].split(',')[0]
    else:
        height = ''
    if 'lb' in pl_inf[1]:
        if len(pl_inf[1].split(',')) == 1:
            weight = pl_inf[1][0:3]
        else:
            weight = pl_inf[1].split(',')[1][1:4]
    else:
        weight = ''

    if 'Born' in pl_inf[1]:
        bd = pl_inf[1].split('Born: ')[1].split(',')[0]
        byr = pl_inf[1].split('Born: ')[1].split(',')[1][1:5]
    elif len(pl_inf) > 2:
        if 'Born' in pl_inf[2]:
            bd = pl_inf[2].split('Born: ')[1].split(',')[0]
            byr = pl_inf[2].split('Born: ')[1].split(',')[1][1:5]
    else:
        bd = ''
        byr = ''


    if ' in' in pl_inf[1]:
        locat = pl_inf[1].split(' in')[1]
        locat_norm = normalize('NFKD', locat).strip()
        if len(locat_norm.split(',')) == 1:
            country_code = locat_norm.split('  ')[1].strip()
            city = locat_norm.split(',')[0]
            state = ''
        else:
            state = locat_norm.split(',')[1].strip().split('  ')[0]
            country_code = locat_norm.split(',')[1].strip().split('  ')[-1]
            city = locat_norm.split(',')[0]

    if len(pl_inf) > 2:
        if ' in' in pl_inf[2]:
            locat = pl_inf[2].split(' in')[1]
            locat_norm = normalize('NFKD', locat).strip()
            if len(locat_norm.split(',')) == 1:
                country_code = locat_norm.split('  ')[1].strip()
                city = locat_norm.split(',')[0]
                state = ''
            else:
                state = locat_norm.split(',')[1].strip().split('  ')[0]
                country_code = locat_norm.split(',')[1].strip().split('  ')[-1]
                city = locat_norm.split(',')[0]
        else: 
            city = ''
            state = ''
            country_code = ''
    else: 
            city = ''
            state = ''
            country_code = ''

    print(pl_id, pl_nm, height, weight, bd, byr, city, state, country_code)
    pid.append(pl_id)
    names.append(pl_nm)
    heights.append(height)
    weights.append(weight)
    birth_dates.append(bd)
    birth_years.append(byr)
    cities.append(city)
    states.append(state)
    country_codes.append(country_code)

boqviad01 Adam Boqvist 5-11 179  August 15 2000 Falun Sweden se
foudyli01 Liam Foudy 6-0 174  February 4 2000 Toronto Ontario ca
wahlsol01 Oliver Wahlstrom 6-1 205  June 13 2000 Portland Maine us
kakkoka01 Kaapo Kakko 6-1 181  February 13 2001 Turku Finland fi
bjornto01 Tobias Bjornfot 6-0 187  April 6 2001 Upplands Vasby Sweden se
sandira01 Rasmus Sandin 6-0 184  March 7 2000 Uppsala Sweden se
dahlira01 Rasmus Dahlin 6-3 186  April 13 2000 Lidkoping Sweden se
farabjo01 Joel Farabee 6-0 164  February 25 2000 Syracuse New York us
hugheja03 Jack Hughes 5-10 168  May 14 2001 Orlando Florida us
haytoba01 Barrett Hayton 6-1 192  June 9 2000 Peterborough Ontario ca
kotkaje01 Jesperi Kotkaniemi 6-2 184  July 6 2000 Pori Finland fi
gustada01 David Gustafsson 6-2 196  April 11 2000 Tingsryd Sweden se
heinovi01 Ville Heinola 6-1 188  March 2 2001 Honkajoki Finland fi
dachki01 Kirby Dach 6-4 197  January 21 2001 Fort Saskatchewan Alberta ca
svechan01 Andrei Svechnikov 6-2 195  March 26 2000 Barnaul Russian Federation ru
dobsono01 Noah Dobson 6-3 179  January 7 2000 Summerside Prince Edward Island ca

In [101]:
print(len(pid), len(names), len(heights), len(weights), len(birth_dates), len(birth_years), len(cities),\
     len(states), len(country_codes))

16 16 16 16 16 16 16 16 16

In [102]:
df = pd.DataFrame(list(zip(pid,names, heights,weights, birth_dates,birth_years,cities,states,country_codes)),
                  columns = ['pid', 'Player', 'height', 'weight', 'dob', 'yob', 'city', 'state', 'country'])
df

,pid,Player,height,weight,dob,yob,city,state,country
0,boqviad01,Adam Boqvist,5-11,179,August 15,2000,Falun,Sweden,se
1,foudyli01,Liam Foudy,6-0,174,February 4,2000,Toronto,Ontario,ca
2,wahlsol01,Oliver Wahlstrom,6-1,205,June 13,2000,Portland,Maine,us
3,kakkoka01,Kaapo Kakko,6-1,181,February 13,2001,Turku,Finland,fi
4,bjornto01,Tobias Bjornfot,6-0,187,April 6,2001,Upplands Vasby,Sweden,se
5,sandira01,Rasmus Sandin,6-0,184,March 7,2000,Uppsala,Sweden,se
6,dahlira01,Rasmus Dahlin,6-3,186,April 13,2000,Lidkoping,Sweden,se
7,farabjo01,Joel Farabee,6-0,164,February 25,2000,Syracuse,New York,us
8,hugheja03,Jack Hughes,5-10,168,May 14,2001,Orlando,Florida,us
9,haytoba01,Barrett Hayton,6-1,192,June 9,2000,Peterborough,Ontario,ca
10,kotkaje01,Jesperi Kotkaniemi,6-2,184,July 6,2000,Pori,Finland,fi
11,gustada01,David Gustafsson,6-2,196,April 11,2000,Tingsryd,Sweden,se
12,heinovi01,Ville Heinola,6-1,188,March 2,2001,Honkajoki,Finland,fi
13,dachki01,Kirby Dach,6-4,197,January 21,2001,Fort Saskatchewan,Alberta,ca
14,svechan01,Andrei Svechnikov,6-2,195,March 26,2000,Barnaul,Russian Federation,ru
15,dobsono01,Noah Dobson,6-3,179,January 7,2000,Summerside,Prince Edward Island,ca

In [103]:
inches = []
lhght = list(df['height'])
lspl = list(df['height'].str.split('-'))
for i in range(len(df['height'])):
    if type(lhght[i]) != float:
        try:
            ht = (int(lspl[i][0]) * 12 + int(lspl[i][1]))
        except ValueError:
            ht = ''
    else:
        ht = ''
    inches.append(str(ht))
    

dates = []
ldob = list(df['dob'])
lyob = list(df['yob'])
for i in range(len(df['dob'])):
    if (type(ldob[i]) != float):
        try:
            dt = (ldob[i] + ' ' + str(int(lyob[i]))).lstrip()
        except ValueError:
            dt = ''
    else:
        dt = ''
    dates.append(dt)
    
dts = []
for i in range(len(df['dob'])):
    if dates[i] != '':
        dtt = datetime.datetime.strptime(dates[i], '%B %d %Y')
        dttt = datetime.datetime.strftime(dtt, '%Y-%m-%d')
    else:
        dttt = ''
    dts.append(dttt)
    
    
df['height_in'] = inches
df['born'] = dts

In [104]:
df

,pid,Player,height,weight,dob,yob,city,state,country,height_in,born
0,boqviad01,Adam Boqvist,5-11,179,August 15,2000,Falun,Sweden,se,71,2000-08-15
1,foudyli01,Liam Foudy,6-0,174,February 4,2000,Toronto,Ontario,ca,72,2000-02-04
2,wahlsol01,Oliver Wahlstrom,6-1,205,June 13,2000,Portland,Maine,us,73,2000-06-13
3,kakkoka01,Kaapo Kakko,6-1,181,February 13,2001,Turku,Finland,fi,73,2001-02-13
4,bjornto01,Tobias Bjornfot,6-0,187,April 6,2001,Upplands Vasby,Sweden,se,72,2001-04-06
5,sandira01,Rasmus Sandin,6-0,184,March 7,2000,Uppsala,Sweden,se,72,2000-03-07
6,dahlira01,Rasmus Dahlin,6-3,186,April 13,2000,Lidkoping,Sweden,se,75,2000-04-13
7,farabjo01,Joel Farabee,6-0,164,February 25,2000,Syracuse,New York,us,72,2000-02-25
8,hugheja03,Jack Hughes,5-10,168,May 14,2001,Orlando,Florida,us,70,2001-05-14
9,haytoba01,Barrett Hayton,6-1,192,June 9,2000,Peterborough,Ontario,ca,73,2000-06-09
10,kotkaje01,Jesperi Kotkaniemi,6-2,184,July 6,2000,Pori,Finland,fi,74,2000-07-06
11,gustada01,David Gustafsson,6-2,196,April 11,2000,Tingsryd,Sweden,se,74,2000-04-11
12,heinovi01,Ville Heinola,6-1,188,March 2,2001,Honkajoki,Finland,fi,73,2001-03-02
13,dachki01,Kirby Dach,6-4,197,January 21,2001,Fort Saskatchewan,Alberta,ca,76,2001-01-21
14,svechan01,Andrei Svechnikov,6-2,195,March 26,2000,Barnaul,Russian Federation,ru,74,2000-03-26
15,dobsono01,Noah Dobson,6-3,179,January 7,2000,Summerside,Prince Edward Island,ca,75,2000-01-07

In [105]:
ii = [tuple(df.iloc[i].values)  for i in range(len(df['born'])) ]
ii[:2]

[('boqviad01',
  'Adam Boqvist',
  '5-11',
  '179',
  ' August 15',
  '2000',
  'Falun',
  'Sweden',
  'se',
  '71',
  '2000-08-15'),
 ('foudyli01',
  'Liam Foudy',
  '6-0',
  '174',
  ' February 4',
  '2000',
  'Toronto',
  'Ontario',
  'ca',
  '72',
  '2000-02-04')]

In [106]:
ii = [tuple(df.iloc[i].values) for i in range(len(df['pid']))]

def insertMultipleRecords(recordList):
    try:
        sqliteConnection = sqlite3.connect('hockey.db')
        cursor = sqliteConnection.cursor()
        print("Connected to SQLite")

        sqlite_insert_query = """INSERT INTO Player_List1
                          (pid, Player, height, weight, dob, yob, city, state, country, height_in, born) 
                          VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"""

        cursor.executemany(sqlite_insert_query, recordList)
        sqliteConnection.commit()
        print("Total", cursor.rowcount, "Records inserted successfully into Player_List table")
        sqliteConnection.commit()
        cursor.close()

    except sqlite3.Error as error:
        print("Failed to insert multiple records into sqlite table", error)
    finally:
        if (sqliteConnection):
            sqliteConnection.close()
            print("The SQLite connection is closed")


insertMultipleRecords(ii)

Connected to SQLite
Total 16 Records inserted successfully into SqliteDb_developers table
The SQLite connection is closed

In [96]:
len(ii[0])

11

In [49]:
!python scrape_stats.py

scrape_stats.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfi['pid'] = pid
abdelju01 Rasmus Sandin 6-0 184  March 7 2000 Uppsala Sweden se
abergpo01 Rasmus Dahlin 6-3 186  April 13 2000 Lidkoping Sweden se
abramvi01 David Gustafsson 6-2 196  April 11 2000 Tingsryd Sweden se
acciano01 Tobias Bjornfot 6-0 187  April 6 2001 Upplands Vasby Sweden se
agozzan01 Kirby Dach 6-4 197  January 21 2001 Fort Saskatchewan Alberta ca
agozzan01 Jack Hughes 5-10 168  May 14 2001 Orlando Florida us
agozzan01 Joel Farabee 6-0 164  February 25 2000 Syracuse New York us
ahose01 Barrett Hayton 6-1 192  June 9 2000 Peterborough Ontario ca
alzneka01 Noah Dobson 6-3 179  January 7 2000 Summerside Prince Edward Island ca
amadimi01 Ville Heinola 6-1 188  March 2 2001 Honkajoki Finland fi
anderjo08 Jesperi Kotkaniemi 6-2 184  July 6 2000 Pori Finland fi
anderjo05 Liam Foudy 6-0 174  February 4 2000 Toronto Ontario ca
andermi02 Adam Boqvist 5-11 179  August 15 2000 Falun Sweden se
anderja01 Oliver Wahlstrom 6-1 205  June 13 2000 Portland Maine us
anderli01 Andrei Svechnikov 6-2 195  March 26 2000 Barnaul Russian Federation ru
anderra01 Kaapo Kakko 6-1 181  February 13 2001 Turku Finland fi

In [35]:
!python3 scrape_stats.py

Traceback (most recent call last):
  File "scrape_stats.py", line 10, in <module>
    import sqlalchemy
ModuleNotFoundError: No module named 'sqlalchemy'